@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/src/Images/2707_background-pp-hoc-tap-lam-slide6.jpg");
  background-size: cover;
    background-repeat: round; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
