@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
.login-form {
  border: 1px solid #c5c5c5;
  width: 500px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #c5c5c5;
  margin-bottom: 150px;
}
/* .title-login {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 20px;
  color: #777777;
} */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/src/assets/images/2707_background-pp-hoc-tap-lam-slide6.jpg");
  background-size: cover;
  background-repeat: round;
}
.sider {
  height: 100px;
  position: sticky;
  left: 0;
  bottom: 0;
  top: 0px;
}
/* .logo {
  margin: 30px 0;
  font-size: 1.5rem;
} */
.header {
  padding-top: 12px;
  background: #fff;
}
.content {
  margin: 24px 16px;
  padding: 20px;
  height: 83vh;
}
.trigger-btn {
  font-size: 28px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
.trigger-btn:hover {
  color: #fff !important;
}
.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.header-icon {
  font-size: 40px;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.breadcrumb {
  background: #fff;
  border: 1px solid #b5b5b5;
  height: 50px;
  border-right: none;
  border-left: none;
  font-size: 20px;
  padding: 5px 16px;
  color: black;
}
.title-header {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.btn-add {
  background: none;
  color: #1677ff;
  border-color: #1677ff;
  margin-bottom: 10px;
}
